<li>
  <%= gravatar_for user, size: Settings.users.size_page %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to t("users.index.delete"), user, method: :delete,
                  data: {confirm: t("users.index.confirm")} %>
  <% end %>
</li>
