.context {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.context_1 {
  width: 100%;
  padding-top: 105px;
  margin-right: auto;
  margin-left: auto;
}

.margin_li_user {
  margin: 10px;
}

.tab_fix_width {
  width: 180px
}

.center-lg {
  margin-left: 10%;
}
