$red : red;
$state-danger-text: rgba(179, 45, 0, 0.87);

.error_explanation {
  color: $red;

  ul {
    color: $red;
    margin: 0 0 30px;
  }
}

.field_with_errors {
  .form-control {
    color: $state-danger-text;
  }
}

.gravatar_edit {
  margin-bottom: 10px;
  margin-top: 10px;
}
